* {
    margin: 0;
    box-sizing: border-box;  
}

body {
font-family: 'Times New Roman', Times, serif;}

.container {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 290px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;
    border: #746e6e 1px solid;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.profile_photo img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.profile {
flex-grow: 1;
}

.icon_profile {
    display: flex;
        gap: 10px;
        font-size: 14px;
        color: #555;
}

.new_chat {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #746e6e 1px solid;
}
.btn {
    width: 70%;
    height: 40px;
    color: white;
    border: none;
    padding: 15px;
    margin: 20px 0;
    background-color: #b254dd;

}

.btn:hover {
    background-color: #e465a4;
        cursor: pointer;
}

.contac_list {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: #746e6e 1px solid;
}
.contacts {
    height: 67px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
        border-bottom: #746e6e 1px solid;
}

.contacts img {
    width: 45px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
}

.info h3 {
    font-size: 1rem;
}

.info p {
    font-size: 0.8rem;
        color: #666;
}
.name {
font-size: 1rem;
}

.main_content {
    display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        background-color: #e6dfdf;
        text-align: center;
        height: 100vh;
}

.main_content img {
    width: 200px;
        margin-bottom: 20px;
}

.main_content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.main_content p {
    font-size: 1rem;
    color: #333;
}