* {
    margin: 0;
   
}

header {
    display: flex;
  align-items: center;
    gap: 30px; 
}

.profile_photo img {
    width: 70px;
        height: auto;
        border-radius: 100%;
        padding-top: 10px;
        margin-left: 10px;
}

.profile {
    margin-right: 60px;
}

.icon_profile {
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: rgb(59, 59, 59);
}

.sidebar {
    display: flex;
    justify-content: space-around;
    width: 200px;
    padding: 20px;
}

.btn {
    background-color: #b254dd;
    color: white;
    border: none;
    padding: 20px 60px;
    cursor: pointer;

}