* {
    margin: 0;
   
}


main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
        max-width: 250px;
        width: 100%;
            padding: 20px;
        
}



img {
    width: 70px;
        height: auto;
        border-radius: 100%;
        padding-top: 10px;
        margin-left: 10px;
}

.profile {
    margin-right: 60px;
}

.icon_profile {
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: rgb(59, 59, 59);
}

.sidebar {
    display: flex;
    justify-content: space-around;
    width: 200px;
    padding: 20px;
    
}

.btn {
    background-color: #b254dd;
    color: white;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    margin-bottom: 60px;

}

.contacts {
    display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
       
}

.contacts img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.info h3 {
    margin: 0;
    font-size: 1.1rem;
}

.info p {
    margin: 0;
    color: rgb(70, 65, 65);
    font-size: 12px;
}

main_content {

}